@import url('/assets/styles/abstract/_variaveis.scss');

.container-icons {
    display: flex;
    gap: 2em;
    padding: 1em;
    justify-content: center;
.logo {
    margin-top: 1em;
    width: 97px;
    height: 59px;
}

.bi {
    font-size: 2em;    
}


}

@media (min-width: 1024px) {
    .container_icon-text {
        display: flex;
        gap: 5em;
        padding: 1em;
        justify-content: space-around;
      

        .container-3-text {
            margin-top: 1em;
        }

}

}