@import url('/assets/styles/abstract/_variaveis.scss');

.container {
    display: flex;
    justify-content: space-around;
  

    .menu ul {
        display: flex;
        gap: 1em;
        list-style-type: none;
    }

    .icons{
        display: flex;
    }
}




