@import url('/assets/styles/abstract/_variaveis.scss');

.menu__button {
  padding: 5px;
  background: transparent;
  border: solid 3px tomato;
  border-radius: .5rem;
  font-weight: bold;
  width: 4rem;
  cursor: pointer;
}

.menu__button:hover {
  background: #000D;
  color: white;
}

.nav-list{
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border: solid 2px black;
  border-radius: 5px;
}



  
li {
  list-style: none;
  padding: .3rem 1rem;
}

li:hover {
  background: #0003;
}

a {
  text-decoration: none;
  color: black;
}

li:hover a {
  text-decoration: underline;
}
 

  .menu__button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1em;
}

 

  /*None or block*/

  .nav-bar{
    display: none;
  }

 

  .nav-active {
    display: block;
  }

  .logo-menu{
    display: none;
}

 .bi-menu-up {
   display: block;   
 }
   
  .logo-menu:hover {
    background: #000D;
    color: white;
  }


  

 


  @media (max-width: 768px) {
    .nav-bar {
      padding: 1.5rem 4rem;

     

    /*None or block*/

      .nav-item {
        display: none;
      }

      .menu__button {
        display: block;
      }
     
      

    }
    

   .menu__button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 1em;
   }

  
    

  }
  

@media (min-width: 1440px) {  
   

    .menu__button {
      display: none;
    }  
      
    

    .nav-bar {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 6rem;
      
    

    .nav-list {
      display: flex;
      justify-content: center;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      cursor: pointer;
      font-family: var($fonte-menu);
      border: none;
    }

    .nav-item {
      margin: 0 15px;
    }

    .nav-link {
      list-style: none;
      text-decoration: none;
      cursor: pointer;

    }
    
    
    
    .logo-menu {
        display: block;
        width: 97px;
        height: 59px;
    }

    .bi-menu-up {
        display: none ;
    }
 

    .icons {
        display: flex;
        gap: 2em;       
    }

  }
}







