.container-2 {
    display: flex;
    justify-content: center;
    text-align: justify;         


        .text {
            color: var($cor-primaria);
            font-family: var($fonte);
            font-size: 2.5em;
            font-style: normal;
            font-weight: 700;
            line-height: 70px; /* 120.69% */
            letter-spacing: -1px;
           }
           

    }
  



   .bold-text {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:var($fonte);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
       
   }

   .tech-skills-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 3em 0em;
    
   }

   .user-images {
    display: none;
   }

 
  
   @media (min-width: 1024px) {

    .container-2 {
        display: flex;
        justify-content: center;
        text-align: justify;
        flex-direction: row;
        gap: 3em;

        .container-2-sec {
          display: flex;
          gap: 6rem;
        }
    }
    .user-images {
      display: block;
       width: 349px;
       height: 349px;
       flex-shrink: 0;
    }
   }

   
   @media (min-width: 1440px) {


   div > #flying-img {
    max-width: 500px;
    /* animation: flutuar 3s infinite; */
  }

  #flying-img {
    width: 100%;
    animation:
    flying-img 1.5 infinite ease-in-out;
     
  }

  @keyframes flying-img {
    50% {
      transform: translateY(-10);
    }
    
  }
  
  @keyframes flutuar {
    0%,
    100% {
      /* Define a posição inicial e final da animação */
      transform: translateY(0);
    }
    50% {
      /* Define a posição do meio da animação */
      transform: translateY(-20px);
    }
  }

}


  