@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("/assets/styles/abstract/_variaveis.scss");
@import url("/assets/styles/abstract/_variaveis.scss");
@import url("/assets/styles/abstract/_variaveis.scss");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
}
.container .menu ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}
.container .icons {
  display: flex;
}

.container-2 {
  display: flex;
  justify-content: center;
  text-align: justify;
}

.text {
  color: var(#42446E);
  font-family: var("Poppins", sans-serif);
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.bold-text {
  background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var("Poppins", sans-serif);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.tech-skills-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.colored {
  font-size: 3em;
}

.projetcs-container {
  display: grid;
  gap: 1em;
}

.projetcs-container-texts {
  text-align: center;
}

.card {
  display: grid;
  justify-content: center;
  text-align: start;
}
.card .card-title, .card .card-text, .card .card-sub {
  justify-self: center;
  margin-left: 1em;
}
.card .img {
  width: 20rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: lightgray 50%/#D9D9D9;
  margin-bottom: -0.5rem;
}
.card .under {
  width: 20rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: #FFF;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}
.card .card-sub {
  color: var(#42446E);
  font-family: var("Poppins", sans-serif);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.card .social-media {
  display: grid;
  gap: 1em;
}

.button {
  padding: 10px 100px;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  background-color: #493737;
  border: none;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #a16c60;
}

.lol {
  display: flex;
  gap: 2em;
  padding: 1em;
  justify-content: center;
}
.lol .logo {
  margin-top: 1em;
  width: 97px;
  height: 59px;
}
.lol .bi {
  font-size: 2em;
}/*# sourceMappingURL=style.css.map */